[submodule "RNG_GAME/Rust-guessing-game"]
	path = RNG_GAME/Rust-guessing-game
	url = https://github.com/kabir-fx/Rust-guessing-game.git
[submodule "On-Chain-Visit-Tracker"]
	path = On-Chain-Visit-Tracker
	url = https://github.com/kabir-fx/On-Chain-Visit-Tracker.git
[submodule "Rustlings"]
	path = Rustlings
	url = https://github.com/kabir-fx/Rustlings.git
[submodule "solana-mint-token-blueprint"]
	path = solana-mint-token-blueprint
	url = https://github.com/kabir-fx/solana-mint-token-blueprint.git
[submodule "SOL-Vault"]
	path = SOL-Vault
	url = https://github.com/kabir-fx/SOL-Vault.git
[submodule "Escrow-Blueprint"]
	path = Escrow-Blueprint
	url = https://github.com/kabir-fx/Escrow-Blueprint.git
[submodule "Core-NFT-Blueprint"]
	path = Core-NFT-Blueprint
	url = https://github.com/kabir-fx/Core-NFT-Blueprint.git
[submodule "Escrow-NFT-Exchange"]
	path = Escrow-NFT-Exchange
	url = https://github.com/kabir-fx/Escrow-NFT-Exchange.git
